.main__blog-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blog-info__container {
  max-width: 53.375rem;
}
.container-picture {
  max-width: 53.375rem;
  max-height: 33.3125rem;
  margin-top: 75px;
  margin-bottom: 45px;
}
.blog-info-picture {
  width: 100%;
  height: 100%;
}
.blog-info__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-info__title {
  font-weight: 600;
  font-size: 54px;
  line-height: 100%;
  margin-bottom: 30px;
  text-align: center;
}

.blog-info__subtitle {
  display: inline-block;
  font-family: monospace;
  max-width: 570px;
  font-size: 22px;
  line-height: 170%;
  text-align: center;
}

@media (max-width: 778px) {
  .blog-info__title {
    font-size: 36px;
    line-height: 43px;
  }
  .blog-info__subtitle {
    font-size: 16px;
    line-height: 170%;
  }
}
@media (max-width: 480px) {
  .blog-info__title {
    font-size: 27px;
    line-height: 31px;
  }
}
