.main__blog-message {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
}


.blog-messenge__container{
  max-width: 41.25rem;
  padding: 0px 10px;
  border-top: 1px solid black;
}
.block-message__text:first-child{
    margin-bottom: 40px;
}
.massege__comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.message__info{
  display: flex;
  flex-direction: column;
}
.message__date{
  font-family: "SF Pro Text";
  font-size: 16px;
}
.massege__user {
  display: flex;
  margin-top: 20px;
}
.avatar__container {
  margin-right: 25px;
}
.article__text-container{
  margin-bottom: 50px;
}

.--btn {
  display: flex;
  border: 1px solid #eaeaea;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
}

.link__facebook, .link__twitter {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  padding: 20px 65px;
  justify-content: center;
}
.link__facebook {
  border-right: 1px solid #eaeaea;
}
.message__link >a {
  padding: 15px 25px;
}


.massege__title {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 32px;
  line-height: 160%;
  margin-bottom: 25px;

}

.massege__container-picture {
  max-width: 54rem;
  max-height: 36rem;
  margin-bottom: 20px;
}
.Lorem {
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
}

.massege-end,
.massege__list {
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
}
.Lorem:nth-child(odd){
  margin-bottom: 30px;
}

.massege__picture {
  width: 100%;
  height: 100%;
}

.list__title {
  font-weight: 600;
}
.massege__list .list {
  margin: 30px 0px 30px 20px ;
  list-style-type: square;
}
.massege__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.massege-end {
  margin-bottom: 75px;
}

.massege-end-link {
  margin: 0px auto 30px;
}
.massege-end-link a > img {
  padding-right: 10px;
}

.massege-tags {
  max-height: 66px;
  border-bottom: 1px dashed #000000;
  margin-bottom: 35px;
  padding-bottom: 25px;
  font-family: "SF Pro Text";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.tags__underline-word {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.information-person {
  display: flex;
}

.picture__under-text {
  display:block;
  max-width: 485px;
  margin: 0 auto;
  font-family: "SF Pro Text";
  font-size: 17px;
  line-height: 140%;
  text-align: center;
}
.information-person .avatar__container {
  max-width: 70px;
}
.avatar-Mila {
  min-height: 100%;
}

.person__descr {
  font-family: "SF Pro Text";
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0.05em;
}
.message__user-full-name {
  font-size: 16px;
  font-family: "SF Pro Text";
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.icon-Eyes {
  position: absolute;
  top:-30px;
  left: 48%;
}

.main__newsletter{
  display: flex;
  min-height: 440px;
  align-items: center;
  justify-content: center;

}
.newsletter__text{
  width: 81%;
  margin-bottom: 35px;
}
.newsletter__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  max-width: 670px;
  min-height:313px;
  border:1px solid black;
  border-top:8px solid black;
}
.newsletter__title{
  font-family: 'New York';
  font-weight: 700;
  font-size: 36px;
  line-height: 78%;
  text-align: center;
  margin-bottom: 20px;
}
.newsletter__subtitle{
  font-family: 'SF Pro Text';
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
}
.email-signUp {
  display: flex;
}
.send-email {
  font-family: 'SF Pro Text';
  font-weight: 400;
  font-size: 20px;
  border: 1px solid black;
  padding: 12px 20px;
  line-height: 24px;
}

.btn-send {
  font-family: 'SF Pro Text';
  font-size: 20px;
  color: white;
  padding: 12px 20px;
  background-color: black;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  border: none;
  cursor: pointer;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media (max-width: 778px) {
  .massege-end-link {
    flex-direction: column;
    display: flex;

  }
  .link__facebook,
  .link__twitter {
    width: 100%;
  }
  .massege__list{
    display: none;
  }
  .icon-Eyes {
    left: 38%;
  }
  .message__link >a {
    padding: 20px 70px;
  }
  .massege__comments {
    flex-direction: column;
    align-items: center;
  }

  .massege__user {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-content: center;
  }
  .avatar-Mila {
    width: 100%;
    height: 100%;
  }

  .massege__link {
    width: 290px;
    height: 57px;
  }
  .information-person {
    flex-direction: column;
    align-items: center;
  }

  .person__descr {
    font-size: 14px;
    line-height: 160%;
    text-align: center;
  }

  .information-person .avatar__container {
    min-width: 130px;
  }
  .newsletter__title{
    font-size: 26px;
  }
  .newsletter__subtitle{
     font-size: 16px;
  }
  .send-email {
    font-size: 16px;
    padding: 12px 0px 12px 10px;
  }
  
  .btn-send {
    font-size:16px;
    padding: 10px 18px;

  }
}

@media (max-width: 480px) {
  .picture__under-text {
    font-size: 13px;
  }
  .Lorem,
  .massege-end {
    font-size: 16px;
  }
  .massege__title{
   font-size: 27px;
  }
  .massege-end-link{
    width: 280px;
  }
}
