 .footer {
    color:#ffff;
    min-height: 21.0909em;
    font-family: 'SF Pro Text';
    font-weight: 500;
  }
  .bg-black{
    background-color:black;
  }
 .footer__run-text {
    margin-top:15px;
    overflow: hidden;
  }
  .footer__container{
    margin-top: 100px;
  }
  .run-text__container{
    display: flex;
    width:203%;
    animation: run-text 12s linear infinite; 
   }
  .run-text {
    white-space: nowrap;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
 .text-bold{
     font-weight: 800;
 }
  
  @keyframes run-text {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

 
  .footer__container-logo {
    max-width: 18.125rem;
    max-height:1.6875rem;
    margin-bottom: 25px;
  } 
  .logo { 
    width: 100%;
    height: 100%;
  }

  .footer__text{ 
    display: inline-block;
    font-family: 'New York';
    font-weight: 400;
    max-width: 30.5rem;  
    font-size: 16px;
    line-height: 140%; 
  }

  .footer__container{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    text-align: center;
  }

  .footer__links{
    margin-top: 30px;
  }
  .footer__list{
    display: flex;
    text-decoration: underline;
    font-size: 16px;
    line-height: 170%;
  }

  .list-item:not(:last-child){
    margin-right: 25px;
  }

  .footer__company-info{
    max-width: 11.125rem;
    font-size: 12px;
    margin-top: 65px;
    line-height: 140%;

  }

  @media (max-width:480px){
       
    .footer__container-logo {
        max-width: 14.75rem;
        max-height:1.375rem;
        margin-bottom: 25px;
      } 
    .footer__text{
        max-width: 21rem;
        text-align: center;
    }
    .run-text__container{
      width: 790%;
      animation: run-text 15s linear infinite;
    }
  }