@import url("./fonts.css");

body {
  height: 100vh;
  font-size: 1.375em;
  font-family: "New York";
  font-weight: 500;
  color: #000000;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.header {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
  }
.container {
  max-width: 93.75rem !important;
  margin: 0 auto;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}
.footer {
  color:#ffff;
  min-height: 21.0909em;
  font-family: 'SF Pro Text';
  font-weight: 500;
}
