@import url("./Common/reset.css");
@import url("./Common/global.css");
@import url("./Common/header.css");
@import url("./Common/block-info.css");
@import url("./Common/blog.css");
@import url("./Common/articles.css");
@import url("./Common/footer.css");


.container-picture {
  max-height: 533px;
  margin: 50px 0px 0px;
}

.blog-info__text {
  max-width: 53.375rem;
}
.blog-info__title {
  margin-top: 50px;
  margin-bottom: 30px;
}

.blog-info__subtitle {
  max-width: 626px;
}
.main__articles{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 100%;
  border-top:1px solid black;
}
.articles-conteiner {
  max-width: 57.5rem;
  width: 100%;
  margin-top: 45px;
  border-top: 0;
}
.articles__title{
  margin: 0px 0px 30px;
}
.articles__grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

@media (max-width:480px){
  .articles__title{
    font-size: 33px;
  }
}
  
